html,body,a{
    font-family: 'Source Sans Pro', sans-serif;
}


h1,h2,h3,h4 {
    font-weight:700;
    /*text-align: center;*/
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
}

h1::after,h2::after,h3::after,h4::after {
    border-bottom:2px solid #000;
}

h1 {font-size:36px;margin-top:25px;border-bottom:1px solid #797979;text-align: center;}
h2 {font-size:25px;margin:5px 0;}
h3 {font-size:22px;margin:5px 0;}
h4 {font-size:20px;margin:5px 0;}

p,li {
    text-align: justify;
    /*margin:25px 0;*/
    font-size:16px;
    word-break: break-all;
}

table {
    width:100%;
    overflow: auto;
    border: 2px solid #dfdfdf;
}

tr:nth-child(even){background-color: #f2f2f2}
th{
    background-color: #e8e8e8;
    padding: 5px;
}

img {
    display: block;
    margin: 0 auto;
}

article.docs {
    color: #555;
}

.row {
    margin-right:0;
    margin-left:0;
}

a[data-toggle="collapse"] {
    font-weight:600;
}

.logo img {
    display: block;
    margin:-20px auto;
    height:200px;
}

ul.docsnav {
    text-align: center;
    padding:0;
    padding-bottom:15px;
    border-bottom:1px solid #e1e1e1;
}


ul.docsnav li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
}

ul.docsnav li:after {
    content: ' | ';
}

ul.docsnav li:last-child:after {
    content: '';
}

ul.docsnav li a{
    /*color: #4c87b9;*/
    padding:5px;
    font-size:16px;
    background-image: url('../images/docs/a.png');
    background-repeat: repeat-x;
    background-position: 50% 100%;
    transition: all .8s ease;
}

ul.docsnav li a:hover {
    text-decoration: none;
    background-repeat: repeat;
    color: #666!important;
    transition: all .8s ease;
}

.accordion.toggle.bottom-border {
    margin:70px 0;
}

ul.tools {
    list-style-type: none;
    padding-left:30px;
}

ul.tools li {
    padding:2px 0;
}
ul.tools a:hover {
    text-decoration: underline;
}

.footer-bottom .copyrights {
    text-align: center;
}

.breadcrumbs.style2{
    text-transform: capitalize;
}

.tool-desc {
    margin-top:20px;
    margin-bottom:30px;
}

.tool-name h1{
    font-size:52px;
    text-align: center;
    border-style:none;
}


.pimg {
    margin:0;
}

#categories {
    margin:50px 0;
}

.row.category {
    font-size:40px;
}

ul.categories {
    padding-left:0;
    list-style-type: none;
    display: inline-block;
}

ul.categories li {
    margin-right: 5px;
    margin-bottom: 5px;
    padding:20px;
    background-color: #dedede;
    display: inline-block;
    font-size:20px;
}

ul.categories li:hover {
    background-color: #e8e5e5;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.add-toolp {
    margin:20px 0;
}

.add-tool,.add-project {
    margin:0 auto;
    background-color: #d0d0d0;
    padding:20px;
    text-align: center;
    width:15%;
    display: block;
    font-size:16px;
    text-transform: uppercase;
}

.add-project {
    width: 30%;
    cursor: pointer;
}

.add-title {
    font-size:42px;
    font-weight:700;
    text-align: center;
    padding:20px;
}

.markdown-header {
    font-size:20px;
    text-shadow: 1px 2px;
    text-align: center;
    font-weight:700;
    padding:20px;
}

#preview {
    border:2px solid #e1e1e1;
}

#markdown,#preview {
    min-height:400px;
}

.resources,.author {
    margin:20px 0;
}

#tool-submit {
    display: block;
    margin:0 auto;
    width:30%;
}

.form-control{
    border-width: medium;
    border-style: double;
    padding: 10px 12px;
    height: auto;
    border-color: #d9d9d9;
}

.markdown-preview-button {
    width:170%;
}

.add-error,.add-success {
    padding:0 15px;
}

.add-error .alert-danger {
    background-color: #d46464;
    border-color: #d698a2;
}

.add-success .alert-success {
    background-color: #6cc140;
    border-color: #59e46a;
}

.add-error .alert-danger,.add-success .alert-success {
    color: #ffffff;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-category-form {
    margin:50px 0;
}

.exist-cats {
    list-style: none;
    padding:0;
}

.exist-cats li {
    padding:10px;
    display: inline-block;
    background: #e1e1e1;
}

.dropdown-menu li a {
    padding:10px 15px;
}
.navbar-right {
    margin-right:0;
}

#author .author {
    float:right;
}

#author .author li.category {
    font-size: 20px;
    list-style: none;
    background: #52b2f1;
    padding: 20px;
    filter: brightness(70%);
    color: #fff;
    border-radius: 25px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#author .author li.category:hover {
    filter: brightness(100%);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#author .author li.category span{
    margin:0 5px;
}

/* Admin */

#admin ul.admin{
    list-style: none;
}

#admin ul.admin li{
    margin: 5px;
    padding: 20px;
    background: #e1e1e1;
}

/* Messages */

ul.messages li{
    list-style: none;
    padding:20px;
    padding-bottom:30px;
    margin:20px 0;
    background: #e1e1e1;
}

ul.messages li.message div.head {
    padding:5px 0;
    border-bottom: 1px solid #000;
}

ul.messages li.message div.subject {
    font-size:20px;
    font-weight:700;
    display: inline-block;
}

ul.messages li.message i{
    float: right;
    margin-left:5px;
}

ul.messages li.message div.body {
    padding:10px 0;
}

ul.messages li.message div.email {
    font-weight:700;
    text-align: right;
}

ul.messages li.message div.from,ul.messages li.message div.time{
    float: right;
    padding:0 5px;
}

div.heading {
    font-size: 25px;
    margin-top: 40px;
    text-align: center;
    font-weight: 700;
}

div#edit div {
    margin:30px 0;
    padding:0 15px;
}

div#edit div textarea {
    overflow-y: hidden;
}
div#edit button.btn,div#project-add button.btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 25%;
}


/* Projects */

.projects {
    margin: 40px 0;
}

.projects .project {
    background: #e1e1e1;
    padding: 20px;
    margin:20px 0;
}

.projects .project .project-title {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 700;
    text-align: center;
}

.projects .project .project-image img{
    height: 275px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.projects .project table{
    width: auto;
    margin:0 auto;
}

.projects .project table tr:nth-child(odd){
    background: #9de0f7;
}

.projects .project table td {
    padding:10px;
}

div#project-add  div{
    margin: 10px 0;
    padding: 0 15px;
}


/* Gallery */

.gallery .col-md-3.photo {
    margin: 10px 20px;
    background: #e1e1e1;
    padding: 15px;
}

.gallery .col-md-3.photo i {
    float: right;
}