

.pageWrapper {
    background: #141414;
}


#about-us .page-title,#projects .page-title,#activities .page-title,#gallery .page-title,#social .page-title,#contact .page-title {
    border:none;
    background:transparent;
}

.teammates {
    margin-top: 75px;
    margin-bottom: 75px;
}

#projects .projects-right .post-media,.projects-right .post-image {
    float:right !important;
}

#projects .projects-right .post-image {
    margin-left:20px;
}

#projects .projects-right .post-item-rit,#activities .post-item:nth-child(even) .post-content {
    text-align: right;
}

#projects .projects-right ul.post-meta,#activities .post-item:nth-child(even) .post-meta {
    display: inline-block ;
}

#activities .post-item:nth-child(even) .post-item-rit {
    padding-right:0;
}

#activities .post-item:nth-child(odd) .post-item-rit {
    padding-left:0;
}

button[name="contact-submit"] {
    display: block;
    margin: 0 auto;
}

.heading p {
    font-size:18px ;
}

.heading.centered {
    padding-top: 52px ;
}

.text-color,article.post-content,article.post-content a,.year,.top-nav.one-page li a,#contact h3.uppercase,#contact p,#contact label,
#contact input,#contact textarea
{
    color:#dfdfdf;
}

.top-head.sticky-nav,.blog-posts:not(.lg-image) .post-item .post-meta,.form-control {
    background-color: #424242;
}

.main-color,a:hover,.post-item:hover .post-content h4 a,.more_btn.main-color {
    color: #4c87b9;
}

.main-bg,.sticky-nav .top-nav > ul > li.selected > a,.top-head.transparent .top-nav > ul > li.selected > a,.responsive-menu > ul{
    background-color: #4c87b9 ;
}

.sticky-nav .top-nav > ul > li.selected > a,.top-head.transparent .top-nav > ul > li.selected > a {
    color:#fff ;
}


.main-border,.team-box.box-1:hover .team-img,.form-control:focus {
    border-color: #4c87b9;
}

.titles {
    font-size: 70px;
    font-weight: 700;
    color:#4C87B9;
}

.head-sep:before,.head-sep:after {
    background-color: #888 !important ;
    width: 100px !important ;
}

.head-sep u:before, .head-sep u:after  {
    border-color: #888 !important ;
}

.timeline_date:before {
    border-bottom: 2px #dfdfdf solid !important; ;
}

.blog-posts.timeline.full:before {
    border-left: 1px #dfdfdf dashed;
    height: 40%;
}

.team-box.box-1:hover .team-img img {
    -webkit-transform: scale(1.2) rotate(-10deg) ;
    transform: scale(1.2) rotate(-10deg);
}



.team-box.box-1 .team-socials:after {
    box-shadow: inset 0 -50px 0 0 #4c87b9 ;
}

.team-box.box-1 {
    background-color: #e1e1e1 ;
}

.team-box.box-1 .chairman {
    display: inline-block;
    opacity: 1;
    transform: translateX(75px);
    transition: opacity 0.5s 2s, transform 0.5s 0.5s;
}
.team-box.box-1 .person-info {
    display: inline-block;
    opacity: 0;
    transform: translateX(500px);
    transition: opacity 0.5s 1s, transform 0.5s 1s;
}

.team-box.box-1:hover .chairman {
    opacity: 0;
    transform: translateX(-500px);
}

.team-box.box-1:hover .person-info{
    opacity: 1;
    transform: translateX(-50px);
}

.activity-active {
    color:#26C281;
}

.activity-over {
    color:#D91E18;
}

#contact input,#contact textarea{
    border-style: solid;
}

.copyrights  {
    text-align: center;
}

.teammates .team-details.t-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-msg {
    background-color: rgba(51, 50, 50, 0.55);

}

.contact-success {
    width: 75% !important;
    left: 12% !important;
    background-color: rgba(76, 135, 185, 0.6) !important;
}